@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$dark: hsl(209, 23%, 22%);
$dark-bg: hsl(207, 26%, 17%);
$light-text: hsl(200, 15%, 8%);
$light-input: hsl(0, 0%, 52%);
$light-bg: hsl(0, 0%, 98%);
$light: hsl(0, 0%, 100%);

body {
  font-size: 15px;
  height: 100vh;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-bg {
  background-color: $dark-bg;
}
.dark-text {
  color: $light;
}

.dark {
  background-color: $dark;
}

.light-input {
  background-color: $light-input;
}

.light-bg {
  background-color: $light-bg;
}

.light-text {
  color: $light-text;
}

.light {
  background-color: $light;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500;
  @include flex-space;
  padding: 1.6em 3.5em;
  box-shadow: 0 1px 5px rgba($color: #000000, $alpha: 0.1);

  .mode-button {
    @include flex-space;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;

    i {
      font-size: 1.1em;
      margin-right: 0.5em;
    }
  }
}

main {
  padding: 10em 4em 4em 4em;
  position: relative;

  #country-details {
    margin-top: 5em;
    position: fixed;
    left: 0;
    right: 0;
    top: -1em;
    bottom: 0;
    height: 97vh;
    z-index: 999;
    padding: 4em;
    display: none;
  }

  .buttton-wrapper {
    width: 100%;
  }

  #back {
    margin-bottom: 3em;
    position: relative;
    padding: 0.5em 2em 0.5em 3em;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.1),
      -2px -2px 5px rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;

    i {
      position: absolute;
      left: 10px;
      top: 33%;
    }
  }

  .details-wrapper {
    margin-top: 5em;
    @include flex-space;
  }

  .details-flag {
    width: 45%;
  }

  .details-content {
    h2 {
      margin-bottom: 2em;
    }
  }

  .details-parags:first-of-type {
    margin-right: 6em;
  }

  .details-parags {
    p {
      margin-bottom: 0.7em;
    }

    span {
      font-weight: bold;
    }
  }

  .parags-wrapper {
    @include flex-space;
  }

  .wrap {
    @include flex-space;
  }

  @media (max-width: 950px) {
    .details-wrapper {
      flex-direction: column;
    }

    .details-parags {
      margin: 0;
    }

    .details-flag {
      width: 100%;
      margin-bottom: 4em;
    }

    .wrap {
      flex-direction: column;
      align-items: flex-start;
    }

    .parags-wrapper {
      flex-direction: column;
      justify-content: flex-start;
    }

    .details-parags:first-of-type {
      margin: 0;
      p:last-child {
        margin-bottom: 2em;
      }
    }
  }

  .search-bar {
    @include flex-space;

    .input {
      position: relative;

      input {
        padding: 1em 4em;
        height: 60px;
        border: none;
        outline: none;
        font-size: 1.2em;
        box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.1);
      }

      i {
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 1.1em;
      }
    }

    #region {
      height: 60px;
      padding: 1em 2em;
      @include flex;
      cursor: pointer;
      outline: none;
      border: none;
      box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.1);
    }
  }

  .country-list {
    width: 100%;
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;

    .country {
      width: 350px;
      box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.1);
      cursor: pointer;
      transition: all 0.2s ease;
      margin-bottom: 2em;
      z-index: 900;

      &:hover {
        opacity: 0.7;
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .content {
        padding: 1.5em;
        padding-bottom: 2.9em;

        h2 {
          margin-bottom: 0.8em;
        }
      }
    }

    @media (max-width: 1600px) {
      & {
        grid-template-columns: repeat(3, auto);

        .country {
          width: 400px;

          img {
            height: 250px;
          }
        }
      }
    }

    @media (max-width: 1360px) {
      & {
        grid-template-columns: repeat(2, auto);

        .country {
          width: 550px;

          img {
            height: 300px;
          }
        }
      }
    }

    @media (max-width: 1250px) {
      & {
        grid-template-columns: auto;
        justify-content: center;

        .country {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .search-bar {
      flex-direction: column;
      align-items: start;

      input {
        margin-bottom: 1em;
      }
    }
  }
}
